<div class="thankyourow radio-label print-button">
  <label><i onClick="window.print()" class="fa fa-print" aria-hidden="true"></i>
    <a id="print-button" onClick="window.print()" href="#">{{tx('print_page')}}</a>
  </label>
</div>