{% extends "site/layout.general.twig" %}
{% block title %}{{ constant('VAX_NAME') }} - Upload{% endblock %}
{% block content %}
    <div id="content" class="main">
        <h2>Everything has been uploaded</h2>
        <p>We'll send you a report of the result in no time.</p>
        <a href="/user/upload">Upload another CSV file</a>
    </div>
{% endblock %}